.popup-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .popup-window{
    background-color: rgba(0,0,0,0.25);
    border-radius: 20px;
    padding: 10px 10px;
    text-align: center;

    h1{
      color: lightgrey;
      font-family: 'Roboto', 'Open Sans', sans-serif;
      font-size: 30px;
      font-weight: bold;
    }
    p{
      color: lightgrey;
      font-family: 'Roboto', 'Open Sans', sans-serif;
      font-size: 12px;
      font-style: italic;
    }
    button{
      display: inline-block;
    }
  }
}