.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup-container .popup-window {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px 10px;
  text-align: center;
}
.popup-container .popup-window h1 {
  color: lightgrey;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.popup-container .popup-window p {
  color: lightgrey;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 12px;
  font-style: italic;
}
.popup-container .popup-window button {
  display: inline-block;
}

/*# sourceMappingURL=popup.css.map */
